.footer{
    background-color: $black;
    padding: 70px 0;
}
.title--white{
    color: $white;
    text-align: center;
}
.footer__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: $light;
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: 768px){
        font-size: 12px;
        line-height: 20px;
    }
}
.footer__wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.social{
    display: flex;
    gap: 5px;
}
.contact{
    display: flex;
    justify-content: center;

    a{
        font-size: 16px;
        line-height: 26px;
        color: $light;

        @media (max-width: 768px){
            font-size: 14px;
            line-height: 24px;
        }
    }

    @media (max-width: 768px){
        flex-direction: column;
        align-items: center;
    }
}