body{
    // width: 100%;
    font-family: $font-stack;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    /* identical to box height, or 169% */
    align-items: center;
    color: #4E4E4E;
    font-style: normal;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.img{
    width: 100%;
    height: auto;
}
button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.title{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (max-width: 768px){
        font-size: 14px;
        line-height: 22px;
    }
}
