.header{
    background-color: #ffffff;
    margin: 30px 0 70px;

    @media (max-width: 900px) {
        margin: 25px 0 60px;
    }
    @media (max-width: 768px) {
        margin-bottom: 25px;
    }
}
.header__menu{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    position: relative;

    @media (max-width: 900px) {
        margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        justify-content: end;
    }
}
.header__button{
    width: 45px;
    height: 35px;
    background-color: #111111;
    display: none;
    color: #fff;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.button--open{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.button--close{
    display: none;
}
.menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 70px;
    padding: 15px 0;

    @media (max-width: 900px) {
        gap: 35px;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 5px;
        position: absolute;
        top: 35px;
        right: 0;
        background-color: #F5F5F5;
        min-width: 50%;
        display: none;
    }
}

.menu__item{
    @media (max-width: 768px){
        &:hover{
            background-color: #E5E5E5;
        }
    }
}
.menu__link{
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    padding-left: 12px;
    color: #4E4E4E;

    &:hover{
        color: #57A4A4;
    }
}
