.instagram{
    background-color: $deepgrey;
    padding: 50px 0;
}
.instagram__top{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.instagram__top{
    & > .title{
        @media (max-width: 768px){
            margin-bottom: 15px;
        }
    }
    & > .instagram__link{
        @media (max-width: 768px){
            display: none;
        }
    }
}
.instagram__link{
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    color: #4e4e4e;
    text-transform: uppercase;
}
.instagram__wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;

    @media (max-width: 768px){
        justify-content: start;
    }

    & > .instagram__img:last-child{
        @media (max-width: 1000px){
            display: none;
        }
    }
    & > .instagram__img{
        @media (max-width: 768px){
            display: none;
        }
    }
    & > .instagram__img:first-child{
        @media (max-width: 768px){
            display: block;
            width: 94%;
            
        }
    }
    
}

